/* ************************************************************** 
                General Style
************************************************************** */

*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;  
    max-width: 1100px;
    display: flex;
    align-items: stretch;
}

a{  
    text-decoration: none;
    color: rgb(0, 0, 0);   
    font-family: 'Assistant', sans-serif;
}
h1, h2 {
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Rajdhani', sans-serif;
}

li {
    list-style: none;
}


/* ************************************************************** 
                Header Section
************************************************************** */

header{     
    width: 100%;
    height: 100px;  
    border-bottom: 1px solid rgb(0, 0, 0);
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    z-index: 100;
}

.logo {
    background: url('../img/logo-img.png');
    background-size: cover;
    background-repeat: no-repeat;    
    height: 100px;      
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.menu {   
    width: 100%;
    display: flex;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu  a {
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);    
    padding-bottom: 10px;
    font-size: 24px;
}

header a:hover {
    border-bottom: 4px solid transparent;    
}

.search {   
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

#slidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(255, 255, 255);
    left: -200px;
    transition: all 500ms linear;    
    z-index: 1000;
    display: none;
}

#slidebar ul {
    padding: 0;
}
#slidebar ul li {
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid rgba(100, 100,100, 0.3);
}
#slidebar ul li a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

#slidebar.active {
    left: 0px;
}
.hamburger-icon {
    display: none;
}

@media (max-width: 750px) {
    .menu {
        display: none;
    }
    .header .wrapper {
        width: 100%;
    }
    .hamburger-icon {
        display: flex;
        align-items: center;
    }
    #slidebar {
        display: block;     
     }
     .search i{
         padding-bottom: 20px;
     }
    
}

/* ************************************************************** 
                Hero Section
************************************************************** */

.hero{
    background: url('../img/hero-img.jpg');
    background-size: cover;
    background-position: 50% 40%;
    width: 100%;
    height: 700px;
    margin: 100px 0 25px 0;
}

/* ************************************************************** 
                Main Section
************************************************************** */

.winterwear {
    display: flex;
    margin: 20px 0px;
}
.img-div img {
    width: 100%;
    display: block;
}
.sm-img-div img {    
    display: none;
}

@media screen and (max-width: 600px) {
    .sm-img-div img {
        width: 100%;
        display: block;
    }
    .img-div img {
        display: none;
    }
}

/* ****** Card ****** */

/*  Grid of home page */
.home-page .grid {
    padding: 5px 0px;
}

.home-page .container {
    width: 100%;      
    padding: 0px 5px;
    display: flex;
}

.home-page .card {
    width: 50%;    
    margin: 10px 10px 10px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px 5px 20px 2px #afafaff7;

   }

.home-page .card img {
    width: 100%;    
}
.only-1-img-in-row {
    width: 100%;
} 
.home-page .card-content {
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px 30px;  
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page .card a {
    display: flex;
    text-transform: uppercase;    
    background: rgb(34, 34, 34);
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    text-align: center;  
    border: 1.5px solid transparent; 
}

.home-page .card a:hover { 
    border-left: 1.5px solid rgb(255, 255, 255);
    border-right: 1.5px solid rgb(255, 255, 255);   
}

@media screen and (max-width: 800px) {
    .home-page .card-content h1 {
        font-size: 18px; 
    }
}
@media screen and (max-width: 650px) {
    .home-page .container {
       flex-direction: column;
       padding-right: 20px;
    }
    .home-page .card {
       width: 100%;      
    }
    .hero {
        height: 600px;
    }
}

.sale-bar {
    background: rgb(207, 27, 27);
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 5px 30px; 
    border-radius: 25px;
    margin: 10px 0;
     
}

 h1, h2 {
    margin: 0px;
}
.sale-bar a {
    color: rgb(255, 255, 255);
}

/* ******  ****** */



/* ****** Clothing  ****** */

.grid-row {
    margin: 10px 0 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.clothing .grid {
    width: 90%;
    margin: 10px auto;
    padding: 10px 0px;
}


.clothing .container {  
    display: flex;
    flex-direction: row;   
    margin-bottom: 15px;
}
.clothing .card {
   width: 50%;
   margin: 10px;
   display: flex;
   flex-direction: column;
   box-shadow: 4px 5px 20px 2px #c1c1c1f7;

}

.clothing .card a{
    width: 100%
}
  
.only-1-img-in-row {
    
    width: 100%;
}
.clothing .card img {
    width: 100%;
     
}
.clothing .card-content {
    padding: 5px 10px;
    color: rgb(0, 0, 0);
}
.clothing .card-content h4 {
    text-align: center;
    margin: 0px;
    text-transform: uppercase;    
}
.clothing .card-content h3{
    text-align: right;
    margin: 0px;    
}
.clothing .card-content p {
    margin: 2px;
}
@media screen and (max-width: 600px) {
    .clothing .container {
       flex-direction: column;
    }
    .clothing .card {
       width: 90%;
       margin: 15px auto;
    }
    .clothing .hide-card-2  {
        display: none;
     }
}

@media screen and (max-width: 900px) {
    .clothing .hide-card-4  {
       display: none;
    }
}
@media screen and (max-width: 750px) {
    .clothing .hide-card-3  {
       display: none;
    }
}

.catagory {
    text-align: center;
    padding: 2px; 
}




/*  _------------_-_-_-_-_-_--Contact Us page -----------_-_-_-_-_-_-_-_-*/
.contact-us-info, .about-us-info {
    padding: 150px 20px 50px 20px; 
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;  
}

.contact-us-info h1, p {
    margin: 20px 0;
}

.contact-us-info h1 {
    color: rgb(211, 37, 37);
}
.about-us-info h1 {
    color: rgb(211, 37, 37);

}
.contact-us-info span {
    color: rgb(211, 37, 37);
}
.contact-us-info, .about-us-info p {
    font-size: 20px;
}

address {
    margin: 50px 0;
    font-size: 18px;
    line-height: 1.3;
}

.input-button{
    display: flex;
}
.input-button input{
    font-size: 16px;
    padding: 10px 8px;
}
.input-button button{
    font-size: 16px;
    padding: 0px 15px;
    margin: 0px;
    background: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.input-button button:hover {
    background: rgb(49, 49, 49);
}
@media screen and (max-width: 460px) {
    .input-button{
        flex-direction: column;
    }
    .input-button button{
        margin-top: 5px;
        padding: 10px 15px;
    }
}

.brands img  {
    width: 100%;
    height: 300px;
}

/* ************************************************************** 
               Footer Section
************************************************************** */

footer{
    background: rgb(211, 37, 37);
    width: 100%;
    padding: 20px 80px;
    color: rgb(245, 221, 178);
}
footer h4 {
    text-transform: uppercase;
    margin: 0;
}

footer ul {
    padding-left: 0px;  
    margin-top: 5px;

}

footer ul li{
    list-style: none;
    margin-top: 2px; 
}

footer a {
    color: rgb(245, 221, 178);

}

footer ul li i{
    margin-bottom: 10px;
    display: flex;
}

footer ul li span{
    margin-left: 10px;
}